.project-name {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.4;
  text-transform: uppercase;
  color: var(--light-blue);
}

section.light {
  color: black;
  background: rgba(255, 255, 255, 0.35);
}

.flex-box {
  padding: 0 3rem;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  grid-template-columns: 330px 300px;
  grid-gap: 20px;
}

.box {
  border-radius: 10px;
  padding: 24px 16px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border: 1px solid rgb(204, 204, 204);
  text-align: center;
}

h3:hover {
  color: #ff4500;
}

@media screen and (max-width: 900px) {
  .flex-box {
    flex-direction: column;
  }
}
