section#links {
    background: var(--dark-blue);
    text-align: center;
    color: var(--color-white);
}

.contact h2 {
    font-size: 3rem;
    font-weight: 200;
    line-height: 1.4;
    text-transform: uppercase;
    margin: 1.5rem 0;
    padding-bottom: 1rem;
    position: relative;
}

.contact h2::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 75%;
    height: 1px;
    background: var(--color-white);
    transform: translateX(-50%);
}

.contact-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.contact-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border: 2px solid var(--color-white);
    border-radius: 5px;
    width: 12 rem;
    padding: 1rem;
    font-size: 1.5rem;
}

.contact-icon p {
    padding-left: 1rem;
}

@media screen and (max-width: 600px) {
    .contact-icons {
        flex-direction: column;
    }
}
