.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
}

.heading-text {
    font-size: 4rem;
    font-weight: 300;
    color: var(--color-white);
}